body {
  margin: 0;
  background-color: #434861;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  min-height: 100vh;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}